{% extends "base.html" %}

{% load staticfiles %}
{% block body_block %}

 <div class="container app">
    <div class="row app-one">
     <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="{% static 'polls/labeler/teeth.png' %}">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">Sara
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation">

          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="sara" name="20">
              Show Previous Message!
              </a>
            </div>
          </div>
{% for c in conv %}
          <div class="row message-body">
          {% if c.speaker == "i" %}
    <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
              <span class="message-time pull-right">
                  Merchant
                </span>
                <div class="message-text">
              {{ c.Conversation_txt }}
                </div>
{% elif c.speaker == "he" %}
    <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <span class="message-time pull-right">
                  Customer
                </span>
                <div class="message-text">
              {{ c.Conversation_txt }}
                </div>

{% else %}
    <div class="col-sm-12 message-main-sender">
              <div class="sender">
                <span class="message-time pull-right">
                  Customer
                </span>
                <div class="message-text">
              {{ c.Conversation_txt }}
                </div>
{% endif %}
        <span class="message-round pull-right">{{ c.roundid }}</span>
        </div>
        </div>
          </div>
{% endfor %}
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->

      <div class="col-sm-4 side">
        <div class="side-one">
          <!-- Heading -->
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="{% static 'polls/labeler/teeth.png' %}">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <!-- <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i> -->
    <div class="dropdown">
      <!-- Link or button to toggle dropdown -->
        <!-- <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
        <i class="dropdown-toggle fa fa-ellipsis-v fa-2x  pull-right" id="drop1" href="#" role="button" data-toggle="dropdown" aria-hidden="true"></i>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#">Profile</a></li>
        <li><a tabindex="-1" href="#">Log out</a></li>
      </ul>
    </div>

            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>

          </div>
          <!-- Heading End -->
          <!-- sideBar -->
<div class="row sideBar">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for c in label %}
  {% if c.center_bool == 0 %}
  <form method="post" action="{% url 'polls:vote' c.id %}" id="round{{ c.roundid }}" onsubmit="submitBoth()">
  {% csrf_token %}
    <div id="8" class="row sideBar-body msg0">请根据对话{{ c.roundid }}，提取关键词:<input class="form-control keywords" type="text" name="label_text" value="{{ c.label_text }}"></div>
    <!-- <input class="btn pull-right btn-success" type="submit" value="Submit Answer" /> -->

  </form>
  {% elif c.center_bool == 1 %}
  <form method="post" action="{% url 'polls:vote' c.id %}" id="round{{ c.roundid }}" onsubmit="submitBoth()">
  {% csrf_token %}
<div id="10" class="row sideBar-body msg1">请根据对话{{ c.roundid }}，判断客服的目的:{{ c.label_text }} <br />
	 <input type="radio" name="label_text" id="1" value="FollowUp" />
    <label for="1">跟进</label><br />
    <input type="radio" name="label_text" id="2" value="SignUp" />
    <label for="2">注册</label><br />
    <input type="radio" name="label_text" id="3" value="Others" />
    <label for="3">其他</label><br />
</div>
<!-- <input class="btn pull-right btn-success" type="submit" value="Submit Answer" /> -->

      </form>
  {% else %}
  <form method="post" action="{% url 'polls:vote' c.id %}" id="round{{ c.roundid }}" onsubmit="submitBoth()">
  {% csrf_token %}
<div id="11" class="row sideBar-body msg2">请根据对话{{ c.roundid }}，判断客户的态度:{{ c.label_text }} <br />
	 <input type="radio" name="label_text" id="1" value="accepted" />
    <label for="1">接受</label><br />
    <input type="radio" name="label_text" id="2" value="rejected" />
    <label for="2">拒绝</label><br />
    <input type="radio" name="label_text" id="3" value="ignored" />
    <label for="3">无视</label><br />

</div>
<!-- <input class="btn pull-right btn-success" type="submit" value="Submit Answer" /> -->

      </form>
  {% endif %}

{% endfor %}
<input class="btn pull-right btn-success" type="button" value="Click Me!" onclick="submitBoth()" />
    
          
          <!-- Sidebar End -->
        </div>
        <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <a href="{% url 'polls:index' %}" class="previous">&laquo; Back to Profile Page</a>
<a href="{% url 'polls:detail' nextpk %}" class="next">Next Question &raquo;</a>

              </div>
            </div>
          </div>
          <!-- Sidebar End -->
        </div>

        
        <!-- Sidebar End -->
      </div>
      <!-- SearchBox -->
          

          <!-- Search Box End -->


      <!-- New Message Sidebar End -->

     
    </div>
    <!-- App One End -->
  </div>
<script> 
function submitBoth(){
    {% for c in label %}
    document.getElementById("round{{ c.roundid }}").submit();
    {% endfor %}
}
</script>
<!-- 
<script>
    alert('{{ message }}');
</script> -->
{% endblock %}