{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <title>labeller - {% block title %}To add project name{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>



<div class="container">
<div class="page-header">
  <h1><a href="{% url 'polls:index' %}"><orange>Project Name</orange> </a><small>Text data labeling</small></h1>
</div>
<div class="col-md-8">

    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" {% if active_tab == 'latest' %}class="active"{% endif %}><a href="#latest" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> Export</a></li>
        <li role="presentation" {% if active_tab == 'unans' %}class="active"{% endif %}><a href="#unans" data-toggle="tab"><span class="glyphicon glyphicon-question-sign"></span> Unlabelled <span class="badge">{{ totalnoans }}</span></a></li>
    </ul>
    <br/>
<div class="tab-content">
<div class="tab-pane {% if active_tab == 'latest' %}active{% endif %}" id="latest">
<a href="{% url 'polls:downl' %}">Download Labelled Data</a>
</div>

<div class="tab-pane {% if active_tab == 'unans' %}active{% endif %}" id="unans">
{% if noans %}

<span class="glyphicon glyphicon-fire" aria-hidden="true"></span><a href="{% url 'polls:detail' noans.0.id %}"> Start Labelling</a>

{% else %}
<div class="alert alert-warning" role="alert">All questions have been labelled!</div>
{% endif %}
</div>

  </div>
</div>

<div class="col-md-4">
	<div class="panel panel-default">
	    <div class="panel-body">
	  </div>
	  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h4>Total Conversations: {{ totalcount }}</h4>
    </div>
  </div>

  {% if noans.count %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Unlabelled Questions</h3>
    </div>
    <div class="panel-body">
    <ul>
      {% for question in noans|slice:":10" %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
      {% endfor %}
      <li><a href="">...</a></li>
    </ul>
    </div>
  </div>
  {% endif %}


</div>


</div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
