{% extends "base.html" %}

{% load staticfiles %}
  <!--<![endif]-->
{% block body_block %}
<div class="container app">
    <div class="row app-one">
     <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="{% static 'labeler/teeth.png' %}">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta">Sara
            </a>
            <span class="heading-online">Online</span>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation">

          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="sara" name="20">
              Show Previous Message!
              </a>
            </div>
          </div>
          <div class="row message-body">
            
          </div>
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->

      <div class="col-sm-4 side">
        <div class="side-one">
          <!-- Heading -->
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="{% static 'labeler/teeth.png' %}">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
              <!-- <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i> -->

            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>

          </div>
          <!-- Heading End -->

          <!-- SearchBox -->
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
              <form id="form" onsubmit="return false;">
            <input class="form-control" type="text" id="userInput" >
            
             <!-- <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search"> -->
                </form>

              </div>
            </div>
          </div>

          <!-- Search Box End -->
          <!-- sideBar -->
          <div class="row sideBar">
                <div class="row sideBar-body">
                  <div class="col-sm-3 col-xs-3 sideBar-avatar">
                    <div class="avatar-icon">

                    </div>
                  </div>
                  <div class="col-sm-9 col-xs-9 sideBar-main">
                    <div class="row">
                      <div class="col-sm-8 col-xs-8 sideBar-name">
                      <!-- <a href='#' onclick='downloadCSV({ filename: "stock-data.csv" });'>Submit</a> -->
                      <input style="position:absolute; top:50%; left:5%; width:40%;" type="submit" onclick="othername();" />
                      </div>
                    </div>
                  </div>
                </div>

          </div>
          <!-- Sidebar End -->
        </div>
        
        <!-- Sidebar End -->
      </div>


      <!-- New Message Sidebar End -->

     
    </div>
    <!-- App One End -->
  </div>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" charset="utf-8">

function updateG(data) {
  var parent = d3.select("body").selectAll(".message-body")
  var bod = parent.selectAll("div").data(data).enter().append('div')
            .attr("class", function(d) {
                if (d.speaker == "i") {return "col-sm-12 message-main-receiver"}
                else {return "col-sm-12 message-main-sender"}
            });

    var bodmain = bod.append("div")
                    .attr("class", function(d) {
                        if (d.speaker == "i") { return "receiver"}
                            else {return "sender"}
                    });
    bodmain.append("span")
                    .attr("class", "message-time pull-right")
                    .text(function(d) {
                        if (d.speaker == "i") {return "客服"}
                            else {return "客户"}
                    });
    bodmain.append("div")
                    .attr("class", "message-text")
                    .attr("id", function(d) {
                        return d.msg_id
                    })
                    .text(function(d) {
                        return d.text;
                    });
}

f = 0
while (f<11) {
  try {
    fileName = "{% static 'data/batch"+f+"/msg7200.csv' %}"
      d3.csv(fileName, function(data) {
        updateG(data);
      });
  } catch (e) {};
    f++;
};

    
      
      // var bod = d3.select('.message-body').data(data).enter().append('div');
      // bod.enter().append('span')
      // var titles = d3.keys(data[0]);
      // var headers = table.append('thead').append('tr')
      //                  .selectAll('th')
      //                  .data(titles).enter()
      //                  .append('th')
      //                  .text(function (d) {
      //                     return d;
      //                   })
      //                  .on('click', function (d) {
      //                    headers.attr('class', 'header');
      //                  });

      // var rows = table.append('tbody').selectAll('tr')
      //              .data(data).enter()
      //              .append('tr');
      // rows.selectAll('td')
      //   .data(function (d) {
      //     return titles.map(function (k) {
      //       return { 'value': d[k], 'name': k};
      //     });
      //   }).enter()
      //   .append('td')
      //   .classed('selected', function(d) {return d._selected;})
      //   .attr('data-th', function (d) {
      //     return d.name;
      //   })
      //   .text(function (d) {
      //     return d.value;
      //   });
    // });
    var stockData = [
        {
            Symbol: "AAPL",
            Company: "Apple Inc.",
            Price: "132.54"
        },
        {
            Symbol: "INTC",
            Company: "Intel Corporation",
            Price: "33.45"
        },
        {
            Symbol: "GOOG",
            Company: "Google Inc",
            Price: "554.52"
        },
    ];

    function convertArrayOfObjectsToCSV(args) {
        var result, ctr, keys, columnDelimiter, lineDelimiter, data;

        data = args.data || null;
        if (data == null || !data.length) {
            return null;
        }

        columnDelimiter = args.columnDelimiter || ',';
        lineDelimiter = args.lineDelimiter || '\n';

        keys = Object.keys(data[0]);

        result = '';
        result += keys.join(columnDelimiter);
        result += lineDelimiter;

        data.forEach(function(item) {
            ctr = 0;
            keys.forEach(function(key) {
                if (ctr > 0) result += columnDelimiter;

                result += item[key];
                ctr++;
            });
            result += lineDelimiter;
        });

        return result;
    }

    window.downloadCSV = function(args) {
        var data, filename, link;

        var csv = convertArrayOfObjectsToCSV({
            data: stockData
        });
        if (csv == null) return;

        filename = args.filename || 'export.csv';

        if (!csv.match(/^data:text\/csv/i)) {
            csv = 'data:text/csv;charset=utf-8,' + csv;
        }
        data = encodeURI(csv);

        link = document.createElement('a');
        link.setAttribute('href', data);
        link.setAttribute('download', filename);
        link.click();
    }
labels = [];
function othername() {
    var input = document.getElementById("userInput").value;
    labels.push(labels);
    console.log(labels);
}
  </script>

{% endblock body_block %}